{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title></title>
</head>
<style>
    
    #navbar
    {
        background-color: aquamarine;
    }
    #whatsinthemenu
    {
        display:inline-block;
        color:#505ecf;
    }
    {% block style %}
    {% endblock %}
</style>
<body>
    <nav id="navbar" class="navbar navbar-light">
        <a class="navbar-brand" href="{% url 'main:home' %}">
          <img src="{% static 'navbar/whatsinthemenulogo.png' %}" width="112" height="80" alt=""><strong id="whatsinthemenu">What's in the menu?</strong>
        </a>
      </nav>
    {% block content %}
    {% endblock %}
</body>
<script>
    function fixInputType()
    {
        try
        {
            var colorinput=['first','second','third','fourth','fifth'];
            for(var i=0;i<5;i++)
            {
                document.getElementById('id_'+colorinput[i]).type="color";
            }
        }
        catch(err)
        {
            console.log('error');
        }
    }
</script>
</html>