@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #12232e;
}

@media screen and (max-width: 600px) {
  body {
    padding: 15px;
  }
  header .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .content h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #eefbfb;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #007cc7;
  }
  header .content h1 {
    font-weight: 600;
    font-size: 2.2rem;
    color: #eefbfb;
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    margin-top: -30px;
    padding: 5px 10px 5px;
    min-width: 250px;
    border-bottom: 2px solid #007cc7;
    position: relative;
  }
  header .content h1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #eefbfb;
    bottom: -6px;
    left: 48%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 1px solid #007cc7;
  }
  header .sliderHori {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  header .sliderHori::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }
  header nav {
    margin-bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header nav .sliderHori {
    overflow: auto;
    white-space: nowrap;
    padding-left: 15px;
  }
  header nav .sliderHori .container {
    display: inline-block;
  }
  header nav li {
    list-style: none;
    display: inline-block;
    margin: 0 30px 0 0;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0;
    color: #eefbfb;
  }
  header nav .active {
    color: #007cc7;
    font-weight: 500;
    border-bottom: 2px solid #007cc7;
  }
  main.meals .row h2 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #eefbfb;
    display: inline-block;
    margin-left: 15px;
    color: #007cc7;
    border-bottom: 2px solid #007cc7;
    margin-bottom: 5px;
  }
  main.meals .row .sliderHori {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  main.meals .row .sliderHori::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }
  main.meals .row .sliderHori {
    overflow: auto;
    white-space: nowrap;
    padding-left: 5px;
    padding-top: 30px;
  }
  main.meals .row .sliderHori .container {
    background-image: linear-gradient(135deg, #18364b, #12232e);
    display: inline-block;
    width: 220px;
    padding: 10px;
    vertical-align: top;
    margin: 0 10px 20px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px #000000b4;
            box-shadow: 5px 5px 15px #000000b4;
  }
  main.meals .row .sliderHori .container .items {
    width: 100%;
    position: relative;
    white-space: normal;
  }
  main.meals .row .sliderHori .container .items h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #eefbfb;
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  main.meals .row .sliderHori .container .items h3 span {
    font-family: sans-serif;
    padding-right: 2px;
  }
  main.meals .row .sliderHori .container .items .name {
    font-size: 1rem;
    color: #dddddd;
    height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
  main.meals .row .sliderHori .container .items .price {
    display: inline-block;
  }
  main.meals .row .sliderHori .container .items h4 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #eefbfb;
    display: inline-block;
    float: right;
    padding-top: 5px;
    padding-right: 2px;
    font-size: 0.9rem;
    font-weight: 300;
  }
  main.meals .row .sliderHori .container .items .ingredients {
    border-top: 2px solid #007cc7;
    padding-top: 10px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0;
    color: #eefbfb;
    font-size: 0.8rem;
    white-space: normal;
    height: 85px;
    margin: 10px 0;
    overflow-y: scroll;
  }
  main.meals .row .sliderHori .container .items .hat {
    position: absolute;
    top: -45px;
    right: -32px;
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  main.meals .row .sliderHori .container .items .foodType {
    position: absolute;
    top: -10px;
    right: -4px;
    width: 12px;
    height: 30px;
    border-radius: 0px 10px 12px 12px;
    background-color: var(--i);
  }
  main.meals .row .NosliderHori {
    margin-right: 20px;
  }
  main.meals .row .NosliderHori .container1 {
    background-image: linear-gradient(135deg, #18364b, #12232e);
    display: block;
    width: 100%;
    padding: 10px;
    vertical-align: top;
    margin: 20px 5px 40px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px #000000b4;
            box-shadow: 5px 5px 15px #000000b4;
  }
  main.meals .row .NosliderHori .container1 .items {
    width: 100%;
    position: relative;
    white-space: normal;
  }
  main.meals .row .NosliderHori .container1 .items h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #eefbfb;
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  main.meals .row .NosliderHori .container1 .items h3 span {
    font-family: sans-serif;
    padding-right: 2px;
  }
  main.meals .row .NosliderHori .container1 .items .name {
    font-size: 1rem;
    color: #dddddd;
  }
  main.meals .row .NosliderHori .container1 .items .price {
    display: inline-block;
  }
  main.meals .row .NosliderHori .container1 .items h4 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #eefbfb;
    display: inline-block;
    float: right;
    padding-top: 5px;
    padding-right: 2px;
    font-size: 0.9rem;
    font-weight: 300;
  }
  main.meals .row .NosliderHori .container1 .items .ingredients {
    border-top: 2px solid #007cc7;
    padding-top: 10px;
    margin-top: 8px;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0;
    color: #eefbfb;
    font-size: 0.8rem;
  }
  main.meals .row .NosliderHori .container1 .items .hat {
    position: absolute;
    top: -45px;
    right: -32px;
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
}
/*# sourceMappingURL=main.css.map */