$primaryColor: #000000;
$secondaryColor: #ffffff;
$tertiaryColor: #585858;
$quaternarColor: #ffffff57;
$quinaryColor: #03155c;
$smokeGray: #fafafd;
$shadow: #ffffff2c;

$white: #ffffff;
$black: #000000;
