{% extends "main/base.html" %}
{% block style %}
#buttons
{
    padding-top:10px;
    padding-left:10px;
}
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    <div id="buttons">
        <a style="width:200px;" class="btn btn-success" href="/admin">Admin end</a>
        <br>
        <br>
        <a style="width:200px;" class="btn btn-primary" href="{% url 'customer:customer-home' %}">Customer Home Page</a>
    </div>
    
{% endblock %}