{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="{% static 'Template 5/js/slider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Template 5/css/main.css' %}" />
    <title>Welcome to {{restaurant.resName}}</title>
  </head>
  <body onload = "changeDiv(-1)" class="welcomePage">
    <div class="bigScreen">
      <h3>Sorry ....</h3>
    </div>

    <span class="cirlce3 circle"></span>
    <div class="grid">
      <main class="home">
        {% for tagline,extrawords in content %}
        <div id="div{{forloop.counter}}">
          <span class="cirlce1 circle"></span>
          <h1>{{tagline}}</h1>
          <br />
          <p>
            {{extrawords}}
          </p>
        </div>
        {% endfor %}
      </main>
      <section class="home">
        <span class="cirlce2 circle"></span>
        <div class="slider">
          <span class="one active" id="oneSlide" onclick="changeDiv(1)"></span>
          <span class="two" id="twoSlide" onclick="changeDiv(2)"></span>
          <span class="three" id="threeSlide" onclick="changeDiv(3)"></span>
        </div>

        <button onclick="changeDiv(0)">
          <img src="{% static 'Template 5/images/right-arrow.png' %}" alt="" />
        </button>
      </section>
    </div>
  </body>
  <script>
    var pageUrl = "{% url 'menu:template-5-menu' restaurant.restaurantSlug %}";
  </script>
</html>
