{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'Template 4/css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- --------------- -->
    
    <header>
      <!-- --------------- -->
      <div class="content">
        <h3>Welcome To</h3>
        <br/>
        <h1>{{restaurant.resName}}</h1>
      </div>
      <!-- --------------- -->
      
      <br />

      <!-- --------------- -->
      {{restaurant.restaurantSlug}}
      <nav>
        <div class="sliderHori">
          {% for category in categories %}
          <div class="container">
            <li id= "{{category}}" onclick = "update('{{category}}','{{restaurant.restaurantSlug}}')">{{category}}</li>
          </div>
          {% endfor %}
        </div>
      </nav>

      <!-- --------------- -->
    </header>
    <!-- --------------- -->
    <main id="maindiv" class="meals">
      {% for dishtype,dishes in menuitems %}
        <div class="row">
          <h2>{{dishtype}}</h2>
          <div class="sliderHori">
            {% for dish in dishes %}
            <div class="container">
              <div class="items">
                <h3 class="name">{{dish.dishname}}</h3>
                <div class="info">
                  <h3 class="price"><span>₹</span>{{dish.price}}</h3>
                  <h4 class="cuisine">Italian</h4>
                </div>
                {% if dish.dishdetails == "" %}
                {% else %}
                  <p class="ingredients">
                  {{dish.dishdetails}}
                </p>
                {% endif %}
                <div class="hat">
                  {% if 'non-veg' in dish.buzzwords %}
                  <img src="{% static 'Template 4/images/NonVegHat.png' %}" alt="" />
                  {% else %}
                  <img src="{% static 'Template 4/images/VegHat.png' %}" alt="" />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <h2>Risotto</h2>
        <div class="NosliderHori">
          <div class="container1">
            <div class="items">
              <h3 class="name">Creamy Risotto</h3>
              <div class="info">
                <h3 class="price"><span>₹</span> 450</h3>
                <h4 class="cuisine">Italian</h4>
              </div>
              <div class="hat">
                <img src="{% static 'Template 4/images/VegHat.png' %}" alt="" />
              </div>
            </div>
          </div>

          <div class="container1">
            <div class="items">
              <h3 class="name">Pink Risotto</h3>
              <div class="info">
                <h3 class="price"><span>₹</span> 450</h3>
                <h4 class="cuisine">Italian</h4>
              </div>
              <div class="hat">
                <img src="{% static 'Template 4/images/VegHat.png' %}" alt="" />
              </div>
            </div>
          </div>

          <div class="container1">
            <div class="items">
              <h3 class="name">Truffle Chicken Risotto</h3>
              <div class="info">
                <h3 class="price"><span>₹</span> 550</h3>
                <h4 class="cuisine">Italian</h4>
              </div>
              <div class="hat">
                <img src="{% static 'Template 4/images/NonVegHat.png' %}" alt="" />
              </div>
            </div>
          </div>

          <div class="container1">
            <div class="items">
              <h3 class="name">Pomodorro Chicken Risotto</h3>
              <div class="info">
                <h3 class="price"><span>₹</span> 650</h3>
                <h4 class="cuisine">Italian</h4>
              </div>
              <p class="ingredients">
                Served on In-house multi-grain bread, with mustard, gherkins,
                cheddar cheese grilled to
              </p>
              <div class="hat">
                <img src="{% static 'Template 4/images/NonVegHat.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    $(document).ready(function()
    {
      var food = document.getElementById('Food');
      food.classList.add("active");
      update('Food','{{restaurant.restaurantSlug}}');
    });
      function update(cat,slug)
      {
        var url = "{% url 'menu:contents' cat=12345 slug=restaurant.restaurantSlug %}".replace('12345', cat.toString());
        console.log(url);
        // var string = "{% url 'menu:contents' Burger;
        $.getJSON("{% url 'menu:contents' cat=12345 slug=restaurant.restaurantSlug %}".replace('12345', cat.toString()),function(items)
        {
          console.log('JSON', items);
          $('#maindiv').append(
            
          )
        });
      }
    </script>
</html>
